body
  margin: 0
h1, h2, h3, h4, h5, p, div
  font-family: 'Open Sans', sans-serif
  &.text-center
    text-align: center
h1, h2, h3, h4, h5
  margin: 0
  font-family: 'Quattrocento Sans', sans-serif
  &.text-center
    text-align: center
a.btn,
button.btn
  text-align: center
  text-decoration: none
  border: 1px solid $secondary
  color: $secondary
  padding: .5em
  border-radius: 3px
  min-width: 100px
  transition: background-color .2s ease, color .2s ease
  &:hover
    background-color: $secondary
    color: $white
div.side-by-side
  +flex-row
  padding: 2em 0
  align-items: center
  text-align: center
  div, a
    +flex-col
    align-items: center
    min-height: 100px
    text-decoration: none
    color: $black
    width: 50%
    margin: 1em
    padding: 1em
    background-color: $tertiary-light
div.embedded-panel
  padding: 1em
div.form-group, form.form-group, div.dropdown-select
  font-size: 1.4em
  +flex-row
  justify-content: flex-start
  align-items: center
  label
    font-weight: 500
    width: 100px
  input
    border: none
    background-color: $tertiary-light
    border-bottom: $secondary solid 1px
    font-size: 1em
    margin: 1em
    border-radius: 0
    box-shadow: none
  &.dropdown-select
    justify-content: flex-start
    div.dropdown
      margin: 1em
div.table
  ul
    border: 1px solid $tertiary
    list-style-type: none
    padding: 1em
    li
      padding: 1em
      border-bottom: 1px solid $tertiary
      +flex-row
      justify-content: space-between
      div.elem
        +flex-col
        align-items: flex-start
        height: 100px
        width: 200px
        &.center
          align-items: center
      &.table-header
        div.elem
          height: 20px
