$primary: #9DDCDC
$secondary: #E67A7A
$tertiary: #FFEBB7
$tertiary-light: #FFF4E1
$black: #2D2926
$white: #FFF
$light-shadow: 0 2px 1px #aaaaaa
$dark-shadow: 0 3px 6px #aaaaaa

=flex-col
  height: 100%
  display: flex
  flex-flow: column
  justify-content: center
  align-items: center
=flex-row
  display: flex
  justify-content: center
