
div.step-2-wrap
  width: 100%
  div.selection-wrap
    div.button-row
      min-height: 200px
      +flex-row
      align-items: center
    a
      text-decoration: none
      margin: 2em
      +flex-col
      align-items: center
    div.logo-icon
      width: 150px
      height: 150px
      border-radius: 10px
      padding: 2em
      border: 1px solid $black
      img
        width: 100%
    h4
      margin-top: 1em
